.first-screen {
    background: url("./img/backgrounds/1.png") no-repeat;
    max-width: 100%;
    width: 100vw;
    height: 100vh;
}

.first-screen__menu {
    display: flex;
    justify-content: flex-end;
    padding: 2%;
    margin-right: 15%;
}

@media(max-width: 768px) {
    .first-screen__menu {
        justify-content: center;
        margin: 0 auto;
    }
}

@media(max-width: 480px) {
    .first-screen__menu {
        flex-wrap: wrap;
    }
}

.first-screen__link {
    margin: 0 2%;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.first-screen__link:hover {
    border-bottom: 1px solid white;
}

.first-screen__sub-line {}

.first-screen__line {
    opacity: 0.5;
    border: 0.5px solid #A1A1A1;
}

.first-screen__about {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10% auto;
}

.first-screen__over-text {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
}

.first-screen__title {
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    font-weight: bolder;
    color: #FFFFFF;
}

.first-screen__btn {
    margin-top: 5%;
}
